.box{
    background-color: yellow;
    height: 120px;
    width: 120px;
    margin: 8px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Gill Sans';
}

.row{
    flex-direction: column;
    display: flex;
}

body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}